@using DataAccessLayer.Concrate
@model EntityLayer.Concrate.Uyari
@{
    ViewData["Title"] = "Uyarı Ekle";
}


<div class="col-lg-10 col-xxl-12">

    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">


            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Tip</label>
                    <a asp-controller="UyariTip" asp-action="Index" target="_blank" class="me-2">
                        <span class="text-body fs-5" data-feather="plus"></span>
                    </a>
                    <a onclick="UyariTipListe()" class="me-2" style="cursor:pointer;">
                        <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                    </a>
                    <select class="form-control" asp-for="UyariTipID" id="UyariTipID" required>
                        <option value="" disable selected>Seçiniz</option>
                    </select>

                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Sürücü</label>
                    <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                        <span class="text-body fs-5" data-feather="plus"></span>
                    </a>
                    <a onclick="SurucuListe()" class="me-2" style="cursor:pointer;">
                        <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                    </a>
                    <select class="form-control" asp-for="SurucuID" id="SurucuID" required>
                        <option value="" disable selected>Seçiniz</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Araç</label>
                    <a asp-controller="Arac" asp-action="Index" target="_blank" class="me-2">
                        <span class="text-body fs-5" data-feather="plus"></span>
                    </a>
                    <a onclick="AracListe()" class="me-2" style="cursor:pointer;">
                        <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                    </a>
                    <select class="form-control" asp-for="AracID" id="AracID" required>
                        <option value="" disable selected>Seçiniz</option>

                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Fiyat</label>
                    <input type="text" class="form-control" asp-for="Fiyat">
                </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Başlangıç Tarihi</label>
                    <input type="date" class="form-control" asp-for="BaslangicTarihi">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Bitiş Tarihi</label>
                    <input type="date" class="form-control" asp-for="BitisTarihi">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Uyarı Tarihi</label>
                    <input type="date" class="form-control" asp-for="UyariTarihi">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Uyarı Gün Sayısı</label>
                    <input type="number" class="form-control" asp-for="GunSayisi">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Rapor Gün Sayısı</label>
                    <input type="number" class="form-control" asp-for="RaporGunSayisi">
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Hatırlatma Yapılsın mı</label>
                    <select class="form-control" asp-for="UyariYapilsinMi">
                        <option value="Evet">Evet</option>
                        <option value="Hayır">Hayır</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Açıklama</label>
                    <textarea class="form-control" asp-for="Aciklama">
                            </textarea>
                </div>
            </div>

            <div class="row">
                <div class="mb-3">

                    <input type="submit" class="btn btn-success w-100" value="Kaydet" />
                </div>
            </div>
        </form>
    </div>

</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
            const bugün = new Date();
            let yil = bugün.getFullYear();
            let ay = ('0' + (bugün.getMonth() + 1)).slice(-2); // Ayı iki haneli yapmak için
            let gün = ('0' + bugün.getDate()).slice(-2); // Günü iki haneli yapmak için
            var bugununTarihi = `${yil}-${ay}-${gün}`;
            $('input[type="date"]').each(function () {
                $(this).val(bugununTarihi);
            });
        });
    </script>
    <script>
        function SurucuListe() {
            //sürücü listele
            $.ajax({
                url: '../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#SurucuID').empty();
                    $('#SurucuID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true,
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#SurucuID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        SurucuListe();
        
        function UyariTipListe() {
        //uyari tip listele
        $.ajax({
            url: '../Ajax/UyariTipListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#UyariTipID').empty();
                $('#UyariTipID').append($('<option>', {
                    value: "", // Verinin değer özelliği
                    text: "Seçiniz", // Verinin görünen metni
                    disabled: true,
                    selected: true,
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#UyariTipID').append($('<option>', {
                        value: item.uyariTipID, // Verinin değer özelliği
                        text: item.ad // Verinin görünen metni
                    }));
                });
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
        }
        UyariTipListe();

        function AracListe() {
            //plaka listele
            $.ajax({
                url: '../Ajax/PlakaListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#AracID').empty();
                    $('#AracID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true,
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#AracID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.plaka // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        } 
        AracListe();

    </script>
}