################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/logikeyv2/.vs/logikeyv2/
/logikeyv2/BusinessLayer/obj/
/logikeyv2/BusinessLayer/bin/
/logikeyv2/DataAccessLayer/obj/
/logikeyv2/EntityLayer/obj/
/logikeyv2/logikeyv2/bin/
/logikeyv2/BusinessLayer/bin/Debug/net7.0/BusinessLayer.pdb
/logikeyv2/BusinessLayer/bin/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/BusinessLayer/bin/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/BusinessLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/BusinessLayer/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/BusinessLayer/obj/Debug/net7.0/ref/BusinessLayer.dll
/logikeyv2/BusinessLayer/obj/Debug/net7.0/refint/BusinessLayer.dll
/logikeyv2/.vs/logikeyv2/FileContentIndex/6c55b7ac-24c1-43a9-ad27-6ea38f1e2c7e.vsidx
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.AssemblyInfo.cs
/logikeyv2/.vs/logikeyv2/FileContentIndex/a9237154-ddd9-4d28-918b-a1112695ffd6.vsidx
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.AssemblyInfoInputs.cache
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.AssemblyInfo.cs
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.AssemblyInfoInputs.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/ref/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/refint/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.assets.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.AssemblyReference.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.FileListAbsolute.txt
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.genruntimeconfig.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/DataAccessLayer/obj/project.assets.json
/logikeyv2/DataAccessLayer/obj/project.nuget.cache
/logikeyv2/EntityLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/EntityLayer/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/EntityLayer/obj/Debug/net7.0/ref/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/refint/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.AssemblyInfo.cs
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.AssemblyInfoInputs.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.assets.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.CoreCompileInputs.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.FileListAbsolute.txt
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.genruntimeconfig.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.pdb
/logikeyv2/EntityLayer/obj/EntityLayer.csproj.nuget.dgspec.json
/logikeyv2/EntityLayer/obj/project.assets.json
/logikeyv2/EntityLayer/obj/project.nuget.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/ref/logikeyv2.dll
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.bigrams
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.fold
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.lm
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.params
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.size
/logikeyv2/logikeyv2/bin/Debug/net7.0/runtimes/LanguagePack/eng.cube.word-freq
/logikeyv2/logikeyv2/obj/Debug/net7.0/apphost.exe
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.AssemblyInfo.cs
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.AssemblyInfoInputs.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.assets.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.AssemblyReference.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/refint/logikeyv2.dll
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.CoreCompileInputs.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.FileListAbsolute.txt
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.dll
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.genruntimeconfig.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.pdb
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.sourcelink.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/project.razor.vs.bin
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.build.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.development.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.pack.json
/logikeyv2/logikeyv2/obj/logikeyv2.csproj.nuget.dgspec.json
/logikeyv2/logikeyv2/obj/project.assets.json
/logikeyv2/logikeyv2/obj/project.nuget.cache
