################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/logikeyv2/.vs/logikeyv2/DesignTimeBuild/.dtbcache.v2
/logikeyv2/.vs/logikeyv2/FileContentIndex/1b12d07c-2457-44d9-8d02-45afb6835a8a.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/513a9e9f-8539-4dcd-8410-ad722d5ab470.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/7efb78af-061d-4537-bb1e-a3c71acf689b.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/89ba4590-678e-474a-8ae8-747639e290d0.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/b0ca5e69-27b2-424c-aa31-4f3db2e92ab5.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/c4ccb059-7c77-48cc-a9d7-727167115876.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/d06d8b58-652b-4078-9d12-f7bd089da866.vsidx
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.assets.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.AssemblyReference.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.FileListAbsolute.txt
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.dll
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.genruntimeconfig.cache
/logikeyv2/BusinessLayer/obj/BusinessLayer.csproj.nuget.dgspec.json
/logikeyv2/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.props
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.pdb
/logikeyv2/BusinessLayer/obj/project.assets.json
/logikeyv2/BusinessLayer/obj/project.nuget.cache
/logikeyv2/.vs/logikeyv2/FileContentIndex/dc2ffff0-8b84-4841-b33c-bdafdba925ed.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/dfc514d7-d36c-4106-a384-273cdc1b9cd9.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/e5db4bf6-e6f6-4af6-becc-badbda16d08f.vsidx
/logikeyv2/.vs/logikeyv2/v17/.suo
