################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/logikeyv2/.vs/logikeyv2/DesignTimeBuild/.dtbcache.v2
/logikeyv2/.vs/logikeyv2/FileContentIndex/1b12d07c-2457-44d9-8d02-45afb6835a8a.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/513a9e9f-8539-4dcd-8410-ad722d5ab470.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/7efb78af-061d-4537-bb1e-a3c71acf689b.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/89ba4590-678e-474a-8ae8-747639e290d0.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/b0ca5e69-27b2-424c-aa31-4f3db2e92ab5.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/c4ccb059-7c77-48cc-a9d7-727167115876.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/d06d8b58-652b-4078-9d12-f7bd089da866.vsidx
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.assets.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.AssemblyReference.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.csproj.FileListAbsolute.txt
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.dll
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.genruntimeconfig.cache
/logikeyv2/BusinessLayer/obj/BusinessLayer.csproj.nuget.dgspec.json
/logikeyv2/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.props
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.pdb
/logikeyv2/BusinessLayer/obj/project.assets.json
/logikeyv2/BusinessLayer/obj/project.nuget.cache
/logikeyv2/.vs/logikeyv2/FileContentIndex/dc2ffff0-8b84-4841-b33c-bdafdba925ed.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/dfc514d7-d36c-4106-a384-273cdc1b9cd9.vsidx
/logikeyv2/.vs/logikeyv2/FileContentIndex/e5db4bf6-e6f6-4af6-becc-badbda16d08f.vsidx
/logikeyv2/.vs/logikeyv2/v17/.suo
logikeyv2/.vs/logikeyv2/config/applicationhost.config
*.vsidx
*.dll
*.pdb
logikeyv2/.vs/logikeyv2/config/applicationhost.config
*.v2
*.bin
logikeyv2/.vs/logikeyv2/v17/.futdcache.v2
logikeyv2/.vs/logikeyv2/v17/fileList.bin
logikeyv2/BusinessLayer/bin/Debug/net7.0/BusinessLayer.dll
/logikeyv2/.vs/logikeyv2/config/applicationhost.config
/logikeyv2/.vs/ProjectEvaluation/logikeyv2.metadata.v7.bin
/logikeyv2/.vs/ProjectEvaluation/logikeyv2.projects.v7.bin
/logikeyv2/.vs/logikeyv2/FileContentIndex/14f954b4-bec7-48ac-a500-22a10330459f.vsidx
/logikeyv2/BusinessLayer/bin/Debug/net7.0/BusinessLayer.dll
/logikeyv2/BusinessLayer/bin/Debug/net7.0/BusinessLayer.pdb
/logikeyv2/BusinessLayer/bin/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/BusinessLayer/bin/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/BusinessLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/BusinessLayer/bin/Debug/net7.0/EntityLayer.pdb
*.cfg
/logikeyv2/BusinessLayer/bin/Release/net7.0/BusinessLayer.deps.json
/logikeyv2/BusinessLayer/bin/Release/net7.0/BusinessLayer.runtimeconfig.json
/logikeyv2/BusinessLayer/obj/Debug/net7.0/ref/BusinessLayer.dll
/logikeyv2/BusinessLayer/obj/Debug/net7.0/refint/BusinessLayer.dll
/logikeyv2/BusinessLayer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.AssemblyInfo.cs
/logikeyv2/BusinessLayer/obj/Debug/net7.0/BusinessLayer.AssemblyInfoInputs.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.AssemblyInfo.cs
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.AssemblyInfoInputs.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.assets.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.csproj.AssemblyReference.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.csproj.CopyComplete
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.csproj.FileListAbsolute.txt
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.genruntimeconfig.cache
/logikeyv2/BusinessLayer/obj/Release/net7.0/BusinessLayer.GlobalUsings.g.cs
/logikeyv2/BusinessLayer/obj/BusinessLayer.csproj.nuget.g.targets
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/DataAccessLayer/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/DataAccessLayer/bin/Release/net7.0/DataAccessLayer.deps.json
/logikeyv2/DataAccessLayer/bin/Release/net7.0/DataAccessLayer.runtimeconfig.json
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/ref/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/refint/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.AssemblyInfo.cs
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.AssemblyInfoInputs.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.assets.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.AssemblyReference.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.csproj.FileListAbsolute.txt
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.genruntimeconfig.cache
/logikeyv2/DataAccessLayer/obj/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/DataAccessLayer/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.AssemblyInfo.cs
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.AssemblyInfoInputs.cache
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.assets.cache
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.csproj.AssemblyReference.cache
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.csproj.CopyComplete
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.csproj.CoreCompileInputs.cache
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.csproj.FileListAbsolute.txt
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.genruntimeconfig.cache
/logikeyv2/DataAccessLayer/obj/Release/net7.0/DataAccessLayer.GlobalUsings.g.cs
/logikeyv2/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/logikeyv2/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/logikeyv2/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.targets
/logikeyv2/DataAccessLayer/obj/project.assets.json
/logikeyv2/DataAccessLayer/obj/project.nuget.cache
/logikeyv2/EntityLayer/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/EntityLayer/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/EntityLayer/bin/Release/net7.0/EntityLayer.deps.json
/logikeyv2/EntityLayer/bin/Release/net7.0/EntityLayer.runtimeconfig.json
/logikeyv2/EntityLayer/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.AssemblyInfo.cs
/logikeyv2/EntityLayer/obj/Debug/net7.0/ref/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/refint/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.AssemblyInfoInputs.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.assets.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.AssemblyReference.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.CoreCompileInputs.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.csproj.FileListAbsolute.txt
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.dll
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.genruntimeconfig.cache
/logikeyv2/EntityLayer/obj/Debug/net7.0/EntityLayer.pdb
/logikeyv2/EntityLayer/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.AssemblyInfo.cs
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.AssemblyInfoInputs.cache
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.assets.cache
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.csproj.AssemblyReference.cache
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.csproj.CoreCompileInputs.cache
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.csproj.FileListAbsolute.txt
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.genruntimeconfig.cache
/logikeyv2/EntityLayer/obj/EntityLayer.csproj.nuget.dgspec.json
/logikeyv2/EntityLayer/obj/EntityLayer.csproj.nuget.g.props
/logikeyv2/EntityLayer/obj/EntityLayer.csproj.nuget.g.targets
/logikeyv2/EntityLayer/obj/Release/net7.0/EntityLayer.GlobalUsings.g.cs
/logikeyv2/EntityLayer/obj/project.assets.json
/logikeyv2/EntityLayer/obj/project.nuget.cache
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2/appsettings.Development.json
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/logikeyv2.csproj.user
/logikeyv2/logikeyv2/Properties/PublishProfiles/FolderProfile.pubxml
/logikeyv2/logikeyv2/Properties/PublishProfiles/FolderProfile.pubxml.user
/logikeyv2/logikeyv2/bin/Debug/net7.0/appsettings.Development.json
/logikeyv2/logikeyv2/bin/Debug/net7.0/appsettings.json
/logikeyv2/logikeyv2/bin/Debug/net7.0/BusinessLayer.dll
/logikeyv2/logikeyv2/bin/Debug/net7.0/BusinessLayer.pdb
/logikeyv2/logikeyv2/bin/Debug/net7.0/DataAccessLayer.dll
/logikeyv2/logikeyv2/bin/Debug/net7.0/DataAccessLayer.pdb
/logikeyv2/logikeyv2/bin/Debug/net7.0/EntityLayer.dll
/logikeyv2/logikeyv2/bin/Debug/net7.0/EntityLayer.pdb
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2.dll
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2.pdb
/logikeyv2/logikeyv2/bin/Debug/net7.0/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2/appsettings.Development.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2/appsettings.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/bin/Release/net7.0/appsettings.Development.json
/logikeyv2/logikeyv2/bin/Release/net7.0/appsettings.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2.deps.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2.exe
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2.runtimeconfig.json
/logikeyv2/logikeyv2/bin/Release/net7.0/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/ref/logikeyv2.dll
/logikeyv2/logikeyv2/obj/Debug/net7.0/refint/logikeyv2.dll
/logikeyv2/logikeyv2/obj/Debug/net7.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets/msbuild.logikeyv2.Microsoft.AspNetCore.StaticWebAssets.props
/logikeyv2/logikeyv2/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.AssemblyInfo.cs
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.AssemblyInfoInputs.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.assets.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.AssemblyReference.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.CoreCompileInputs.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.csproj.FileListAbsolute.txt
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.dll
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.genruntimeconfig.cache
/logikeyv2/logikeyv2/obj/Debug/net7.0/logikeyv2.pdb
/logikeyv2/logikeyv2/obj/Debug/net7.0/project.razor.vs.bin
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.build.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.development.json
/logikeyv2/logikeyv2/obj/Debug/net7.0/staticwebassets.pack.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2/appsettings.Development.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2/appsettings.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2/logikeyv2.staticwebassets.runtime.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/appsettings.Development.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/appsettings.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2.deps.json
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2.exe
/logikeyv2/logikeyv2/obj/Release/net7.0/PubTmp/Out/logikeyv2.runtimeconfig.json
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets/msbuild.build.logikeyv2.props
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets/msbuild.buildMultiTargeting.logikeyv2.props
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets/msbuild.buildTransitive.logikeyv2.props
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets/msbuild.logikeyv2.Microsoft.AspNetCore.StaticWebAssets.props
/logikeyv2/logikeyv2/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/logikeyv2/logikeyv2/obj/Release/net7.0/apphost.exe
/logikeyv2/logikeyv2/obj/Release/net7.0/build-time-generator.touch
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.AssemblyInfo.cs
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.AssemblyInfoInputs.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.assets.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.csproj.AssemblyReference.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.csproj.CopyComplete
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.csproj.CoreCompileInputs.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.csproj.FileListAbsolute.txt
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.deps.json
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.GeneratedMSBuildEditorConfig.editorconfig
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.genpublishdeps.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.genruntimeconfig.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.GlobalUsings.g.cs
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.MvcApplicationPartsAssemblyInfo.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.RazorAssemblyInfo.cache
/logikeyv2/logikeyv2/obj/Release/net7.0/logikeyv2.RazorAssemblyInfo.cs
/logikeyv2/logikeyv2/obj/Release/net7.0/PublishOutputs.5c6bbd18a7.txt
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets.build.json
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets.development.json
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets.pack.json
/logikeyv2/logikeyv2/obj/Release/net7.0/staticwebassets.publish.json
/logikeyv2/logikeyv2/obj/Release/net7.0/uno.reload.cookie.g.cs
/logikeyv2/logikeyv2/obj/logikeyv2.csproj.nuget.dgspec.json
/logikeyv2/logikeyv2/obj/logikeyv2.csproj.nuget.g.props
/logikeyv2/logikeyv2/obj/logikeyv2.csproj.nuget.g.targets
/logikeyv2/logikeyv2/obj/project.assets.json
/logikeyv2/logikeyv2/obj/project.nuget.cache
