@model EntityLayer.Concrate.AracGider

@{
    ViewData["Title"] = "Arac Gider Ekle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Araç Gider Ekle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post">
            <table class="table table-borderless">

                <tr>

                    <td>Araç Plakası</td>
                    <td>
                        <select class="form-control" asp-for="Arac_ID" id="Arac_ID" required>
                            <option value="" disabled selected>Seçiniz</option>
                            @{
                                foreach (var item in ViewBag.Arac)
                                {
                                    <option value="@item.ID">@item.Plaka</option>
                                }
                            }


                        </select>
                    </td>
                    <td>Araç Gider</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Gider" />

                    </td>

                </tr>
                <tr>
                    <td>Gider Periyot</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Gider_Periyot" />

                    </td>
                    <td>Ek Donanım</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Ek_Donanım" />
                    </td>
                </tr>
                <tr>

                    <td>Sürücü Aylığı</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Surucu_Ayligi" />
                    </td>
                    <td>Hasar</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Hasar" />
                    </td>

                </tr>

            </table>
            <input type="submit" class="btn btn-success w-100" value="Araç Giderini Kaydet" />
        </form>


    </div>

</div>

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>

    $(document).ready(function () {
        $('select').select2();
    });
</script>
}