@{
    ViewData["Title"] = "Yakıt - Yapım Aşamasında";
}
<style>

  .container {
    text-align: center;
  }

  h1 {
    font-size: 36px;
    color: #343a40;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 40px;
  }

  
</style>
<div class="container">
  <h1>Yapım Aşamasında</h1>
  <p>Sayfa henüz hazır değil.</p>
</div>