@using BusinessLayer.Concrate
@model EntityLayer.Concrate.Bakim

@{
    ViewData["Title"] = "Bakım Ekle";
}
<script>
    var items = 1;
</script>
<div class="col-lg-30 col-xxl-12">

    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post" enctype="multipart/form-data">
            <table class="table table-borderless">
                <tr>
                    <td>Araçlar</td>
                    <td>
                        <a asp-controller="Arac" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="CekiciListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="CekiciID" id="CekiciID" required>

                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>
                    <td>Tarih Saat</td>
                    <td><input type="date" class="form-control" asp-for="TarihSaat" /></td>
                </tr>

                <tr>
                    <td>Dorse</td>
                    <td>
                        <a asp-controller="Arac" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="DorseListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="DorseID" id="DorseID" >

                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>
                    <td>Servis Bakım Durum</td>
                    <td>
                        <a asp-controller="ServisBakimDurum" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="ServisBakimDurumListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="ServisBakimDurumID" id="ServisBakimDurumID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>Araç Km</td>
                    <td><input type="number" class="form-control" asp-for="AracKm" step="0.01" /></td>
                    <td>Servis Bakım Türü</td>
                    <td>
                        <a asp-controller="ServisBakimTuru" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="ServisBakimTuruListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="ServisBakimTurID" id="ServisBakimTurID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>

                </tr>

                <tr>
                    <td>Sürücü</td>
                    <td>
                        <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="SurucuListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="SurucuID" id="SurucuID" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>

                    </td>
                    <td>Bakım Yeri</td>
                    <td>

                        <a asp-controller="BakimYeri" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="BakimYeriListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="BakimYeri" id="BakimYeri" onchange="BakimYeriDegis()" required>
                            <option value="" disable selected>Seçiniz</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Arıza Nedeni</td>
                    <td>
                        <textarea class="form-control" asp-for="ArizaNedeni"></textarea>
                    </td>
                    <td>Bakım Personeli</td>
                    <td>

                        <a asp-controller="Surucu" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="BakimPersonelListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="PersonelID" id="PersonelID">

                            <option value="0">Seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Yapılması Gereken</td>
                    <td>
                        <textarea class="form-control" asp-for="YapilmasiGereken"></textarea>
                    </td>

                    <td>Açıklama</td>
                    <td>
                        <textarea class="form-control" asp-for="Aciklama"></textarea>
                    </td>
                </tr>

            </table>
            <div id="BakimStokDiv" style=" display:none;">

                <h6>Stok</h6>
                <div class="m-3 col-4">
                    <a onclick="StokEkle()" >Satır Ekle</a>

                </div>
                <table class="table" id="stokTable">
                    <thead>

                        <tr>
                            <td>Stok</td>
                            <td>Miktar</td>
                            <td>Adet Fiyat</td>
                            <td>Toplam Fiyat</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control" name="StokID1[]" id="StokID1" onchange="StokSec(this.value,1)">
                                    <option value="0">Seçiniz</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" name="Miktar1[]" id="Miktar1" />
                            </td>
                            <td>
                                <input type="number" class="form-control" name="BirimFiyat1[]" id="BirimFiyat1" />
                            </td>

                            <td>
                                <input type="number" class="form-control" name="ToplamFiyat1[]" id="ToplamFiyat1" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <input type="hidden" name="StokSayisi" id="StokSayisi" value="0" />
            </div>



            <div id="BakimHizmetDiv" style=" display:none;">

                <h6>Hizmet</h6>
                <div class="m-3 col-4">
                    <a onclick="HizmetEkle()" >Satır Ekle</a>

                </div>
                <table class="table" id="hizmetTable">
                    <thead>

                        <tr>
                            <td>Tarih</td>
                            <td>Tedarikçi</td>
                            <td>Hizmet Adı</td>
                            <td>Fatura No</td>
                            <td>Fiyat(KDV Hariç)</td>
                            <td>KDV (Tutar)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="date" class="form-control" name="Tarih1[]" id="Tarih1" />
                            </td>
                            <td>
                                <select class="form-control" name="TedarikciID1[]" id="TedarikciID1">
                                    <option value="0">Seçiniz</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="HizmetAdi1[]" id="HizmetAdi1" />
                            </td>

                            <td>
                                <input type="text" class="form-control" name="FaturaNo1[]" id="FaturaNo1" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="FiyatKdvHaric1[]" id="FiyatKdvHaric1" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="KdvTutar1[]" id="KdvTutar1" />
                            </td>

                        </tr>

                    </tbody>
                </table>
                <input type="hidden" name="HizmetSayisi" id="HizmetSayisi" value="0" />
            </div>

            <input type="submit" class="btn btn-success w-100" value="Kaydet" />

        </form>

    </div>

</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
            const bugün = new Date();
            let yil = bugün.getFullYear();
            let ay = ('0' + (bugün.getMonth() + 1)).slice(-2); // Ayı iki haneli yapmak için
            let gün = ('0' + bugün.getDate()).slice(-2); // Günü iki haneli yapmak için
            var bugununTarihi = `${yil}-${ay}-${gün}`;
            $('input[type="date"]').each(function () {
                $(this).val(bugununTarihi);
            });
        });
    </script>
    <script>

        function SurucuListe() {
            //sürücü listele

            $.ajax({
                url: '../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#SurucuID').empty();
                    $('#SurucuID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#SurucuID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        SurucuListe();

        function BakimPersonelListe() {
            //BakimPersonel listele
            $.ajax({
                url: '../Ajax/BakimPersonelListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#PersonelID').empty();
                    $('#PersonelID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#PersonelID').append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        BakimPersonelListe();

        function ServisBakimDurumListe() {

            //servis bakım durum listele
            $.ajax({
                url: '../Ajax/ServisBakimDurumListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#ServisBakimDurumID').empty();
                    $('#ServisBakimDurumID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#ServisBakimDurumID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });

        }

        ServisBakimDurumListe();

        function ServisBakimTuruListe() {
            //servis bakım türü listele
            $.ajax({
                url: '../Ajax/ServisBakimTuruListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#ServisBakimTurID').empty();
                    $('#ServisBakimTurID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#ServisBakimTurID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        ServisBakimTuruListe();

        function ServisBakimYeriListe() {
            //servis bakım yeri listele
            $.ajax({
                url: '../Ajax/ServisBakimYeriListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#BakimYeri').empty();
                    $('#BakimYeri').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#BakimYeri').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        ServisBakimYeriListe();

        function DorseListe() {
            //dorse listele
            $.ajax({
                url: '../Ajax/DorseListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#DorseID').empty();
                    $('#DorseID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#DorseID').append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.plaka // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        DorseListe();

        function CekiciListe() {
            //çekici listele
            $.ajax({
                url: '../Ajax/DorseHaricPlakaListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#CekiciID').empty();
                    $('#CekiciID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true,
                        selected: true
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#CekiciID').append($('<option>', {
                            value: item.arac.id, // Verinin değer özelliği
                            text: item.arac.plaka + " - "+item.aracTur.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
        CekiciListe();
        /***************/

        //stok listele
        function StokListe(sira) {
            $.ajax({
                url: '../Ajax/StokListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#StokID' + sira).empty();
                    $('#StokID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#StokID' + sira).append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.stokAdi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        //tedarikçi listele
        function TedarikciListe(sira) {
            $.ajax({
                url: '../Ajax/TedarikciListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#TedarikciID' + sira).empty();
                    $('#TedarikciID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#TedarikciID' + sira).append($('<option>', {
                            value: item.kullanici_ID, // Verinin değer özelliği
                            text: item.kullanici_Isim + ' ' + item.kullanici_Soyisim // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        //gider tip listele
        function GiderTipListe(sira) {
            $.ajax({
                url: '../Ajax/GiderTipListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#GiderTipID' + sira).empty();
                    $('#GiderTipID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#GiderTipID' + sira).append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }


        //gider tip listele
        function GiderAltTipListe(GiderTipID, sira) {
            $.ajax({
                url: '../Ajax/GiderAltTipListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                data: { GiderTipID: GiderTipID },
                success: function (data) {
                    $('#GiderAltTipID' + sira).empty();
                    $('#GiderAltTipID' + sira).append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#GiderAltTipID' + sira).append($('<option>', {
                            value: item.id, // Verinin değer özelliği
                            text: item.adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        StokListe(1);
        TedarikciListe(1);
        GiderTipListe(1);
        function StokSec(StokID, sira) {
            $.ajax({
                url: '../Ajax/StokSec', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                data: { StokID: StokID },
                success: function (item) {

                    console.log(item);
                    $('#Miktar' + sira).val(item.adet);
                    $('#BirimFiyat' + sira).val(item.birimFiyat);
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }

        function StokEkle() {
            items++;
            var newRow = document.createElement('tr');

            // Yeni satıra hücreler (td) ekle
            var cell1 = document.createElement('td');
            var cell2 = document.createElement('td');
            var cell3 = document.createElement('td');
            var cell4 = document.createElement('td');

            // Hücrelere içerik ekle
            cell1.innerHTML = '<select class="form-control" name="StokID' + items + '[]" id="StokID' + items + '"  onchange="StokSec(this.value,' + items + ')"><option value = "0" > Seçiniz </option></select>';
            cell2.innerHTML = '<input type="number" class="form-control" name="Miktar' + items + '[]" id="Miktar' + items + '" />';
            cell3.innerHTML = '<input type="number" class="form-control" name="BirimFiyat' + items + '[]" id="BirimFiyat' + items + '" />';
            cell4.innerHTML = '<input type="number" class="form-control" name = "ToplamFiyat' + items + '[]" id = "ToplamFiyat' + items + '" />';


            // Satıra hücreleri ekle
            newRow.appendChild(cell1);
            newRow.appendChild(cell2);
            newRow.appendChild(cell3);
            newRow.appendChild(cell4);

            // Tablonun tbody bölümüne yeni satırı ekle
            document.getElementById('stokTable').getElementsByTagName('tbody')[0].appendChild(newRow);
            document.getElementById('StokSayisi').value = items;

            StokListe(items);


        }
       
        
        function HizmetEkle() {
            items++;
            var newRow = document.createElement('tr');

            // Yeni satıra hücreler (td) ekle
            var cell1 = document.createElement('td');
            var cell2 = document.createElement('td');
            var cell3 = document.createElement('td');
            var cell4 = document.createElement('td');
            var cell5 = document.createElement('td');
            var cell6 = document.createElement('td');

            // Hücrelere içerik ekle
            cell1.innerHTML = '<input type="date" class="form-control" name = "Tarih' + items + '[]" id = "Tarih' + items + '" />';
            cell2.innerHTML = ' <select class="form-control" name = "TedarikciID' + items + '[]" id = "TedarikciID' + items + '" ><option value = "0">Tedarikçi Seçiniz</option></select>';
            cell3.innerHTML = '<input type="text" class="form-control" name = "HizmetAdi' + items + '[]" id = "HizmetAdi' + items + '" />';
            cell4.innerHTML = '<input type="text" class="form-control" name = "FaturaNo' + items + '[]" id = "FaturaNo' + items + '" />';
            cell5.innerHTML = '<input type="text" class="form-control" name = "FiyatKdvHaric' + items + '[]" id = "FiyatKdvHaric' + items + '" />';
            cell6.innerHTML = '<input type="text" class="form-control" name = "KdvTutar' + items + '[]" id = "KdvTutar' + items + '" />';


            // Satıra hücreleri ekle
            newRow.appendChild(cell1);
            newRow.appendChild(cell2);
            newRow.appendChild(cell3);
            newRow.appendChild(cell4);
            newRow.appendChild(cell5);
            newRow.appendChild(cell6);

            // Tablonun tbody bölümüne yeni satırı ekle
            document.getElementById('hizmetTable').getElementsByTagName('tbody')[0].appendChild(newRow);
            document.getElementById('HizmetSayisi').value = items;

            TedarikciListe(items);
            GiderTipListe(items);

        }

    </script>
    <script>
        function BakimYeriDegis() {
            var BakimYeri = document.getElementById("BakimYeri").value;
            if (BakimYeri == "1") {

                document.getElementById("BakimStokDiv").style.display = "";
                document.getElementById("BakimHizmetDiv").style.display = "none";

                document.getElementById("StokSayisi").value = "1";
                document.getElementById("HizmetSayisi").value = "0";
            }
            else {

                document.getElementById("BakimStokDiv").style.display = "none";
                document.getElementById("BakimHizmetDiv").style.display = "";
                document.getElementById("StokSayisi").value = "0";
                document.getElementById("HizmetSayisi").value = "1";
            }
        }


    </script>
}