@model EntityLayer.Concrate.Cari

@{
    ViewData["Title"] = "Cari Ekle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Cari Ekle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post">
            <table class="table table-borderless">

                <tr>

                    <td>
                        <span style="color:red;">*</span>Cari Adı
                    </td>
                    <td><input type="text" class="form-control" asp-for="Cari_Unvan" required /></td>
                    <td>Cari Tipi</td>
                    <td>
                        <select class="form-control" asp-for="Cari_Tipi" id="Cari_Tipi">
                            <option value="">Seçiniz</option>
                            <option value="1">Bireysel</option>
                            <option value="2">Kurumsal</option>

                        </select>

                    </td>

                </tr>
                <tr>
                    <td>TC Kimlik No / Vergi Kimlik No</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Cari_TCNO_VergiNo" />

                    </td>
                    <td>Vergi Dairesi</td>
                    <td>
                        <input type="text" class="form-control" asp-for="Cari_VergiDairesi" />
                    </td>
                </tr>
                <tr>

                    <td>İl</td>
                    <td>
                        <select class="form-control" asp-for="Cari_IL_ID" id="Cari_IL_ID" onchange="IlDegistir(this.value)">
                            <option value="0">Seçiniz</option>
                            @foreach (var item in ViewBag.Iller)
                            {

                                <option value="@item.IL_KODU">@item.Il</option>
                            }

                        </select>
                    </td>
                    <td>İlçe</td>
                    <td>
                        <select class="form-control" asp-for="Cari_ILCE_ID" id="Cari_ILCE_ID">
                            <option value="0">Seçiniz</option>

                          
                        </select>
                    </td>
                </tr>
                <tr>

                    <td>Adres</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_Adres" /></td>

                </tr>
                <tr>
                    <td>Cep Telefon No</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_CepNo" /></td>

                    <td>Cari Grubu</td>
                    <td>
                        <a asp-controller="CariGrup" asp-action="Index" target="_blank" class="me-2">
                            <span class="text-body fs-5" data-feather="plus"></span>
                        </a>
                        <a onclick="CariGrupListe()" class="me-2" style="cursor:pointer;">
                            <span class="text-body fs-5" data-feather="refresh-ccw"></span>
                        </a>
                        <select class="form-control" asp-for="Cari_GrupID" id="Cari_GrupID">

                            <option value="0">Seçiniz</option>

                          
                        </select>
                    </td>
                    <td>Cari Kodu</td>
                  
                    <td> <input type="text" class="form-control" asp-for="Cari_Kodu" /></td>

                    

                </tr>
                <tr>
                   


                    <td>Web Sitesi</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_WebSitesi" /></td>
                    <td>Firma Eposta</td>
                    <td><input type="text" class="form-control" asp-for="Cari_FirmaEposta" /></td>

                </tr>
                <tr>
                    <td>Firma Telefon No</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_FirmaTelefon" /></td>
                    <td>Yetkili Adı</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_YetkiliAdi" /></td>

                    <td>Yetkili Soyadı</td>
                    <td><input type="text" class="form-control" asp-for="Cari_YetkiliSoyadi" /></td>



                </tr>
                <tr>
                    <td>Banka Adı 1</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaAdi1" /></td>
                    <td>Banka IBAN No 1</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaIBAN1" /></td>

                </tr>
                <tr>
                    <td>Banka Adı 2</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaAdi2" /></td>
                    <td>Banka IBAN No 2</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaIBAN2" /></td>

                </tr>
                <!--
                <tr>
                    <td>Banka Adı 3</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaAdi3" /></td>
                    <td>Banka IBAN No 3</td>
                    <td> <input type="text" class="form-control" asp-for="Cari_BankaIBAN3" /></td>

                </tr>
               -->


            </table>
            <input type="submit" class="btn btn-success w-100" value="Firmayı Kaydet" />
        </form>


    </div>

</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('select').select2();
        });
        function CariGrupListe() {
            //araç tür listele
            $.ajax({
                url: '../Ajax/CariGrupListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#Cari_GrupID').empty();
                    $('#Cari_GrupID').append($('<option>', {
                        value: "", // Verinin değer özelliği
                        text: "Seçiniz", // Verinin görünen metni
                        disabled: true, // Option elementini devre dışı bırak
                        selected: true  // Option elementini seçili yap
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Cari_GrupID').append($('<option>', {
                            value: item.cariGrup_ID, // Verinin değer özelliği
                            text: item.cariGrup_Adi // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
           
        }
        CariGrupListe();
    </script>
    <script>
        function IlDegistir(IlKodu) {

            $.ajax({
                url: '../Ajax/IlceListe', // Verileri sağlayan API'nin endpoint'i
                method: 'GET',
                data: { IlKodu: IlKodu },
                dataType: 'json',
                success: function (data) {
                    $('#Cari_ILCE_ID').empty();
                    $('#Cari_ILCE_ID').append($('<option>', {
                        value: 0, // Verinin değer özelliği
                        text: "Seçiniz" // Verinin görünen metni
                    }));
                    // Verileri selectbox'a ekle
                    $.each(data, function (index, item) {
                        console.log(item);
                        $('#Cari_ILCE_ID').append($('<option>', {
                            value: item.ilcE_KODU, // Verinin değer özelliği
                            text: item.ilce // Verinin görünen metni
                        }));
                    });
                },
                error: function (error) {
                    console.log('Hata oluştu:', error);
                }
            });
        }
    </script>
}
