@{
    ViewData["Title"] = "Anasayfa";
}
<style>
    .carousel-inner {
        height: 20rem !important;
    }

    .carousel-caption {
        padding-bottom: 25rem !important;
    }

    .cardP {
        padding: 0.5rem !important;
    }
</style>

<div class="row mb-4">
    <div class="col-3">
        <select class="form-control" style="background: #0097eb;color:#fff;">
            <option value="0">Hesaplayıcı</option>
        </select>
    </div>
    <div class="col-3">
        <select class="form-control" style="background: #0097eb;color:#fff;">
            <option value="0">Fiyatlar</option>
        </select>
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-info w-100" value="Sürücü Whatsapp">
    </div>
    <div class="col-3">
        <input type="button" class="btn btn-info w-100" value="Müşteri Whatsapp">
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50013.558007751555!2d27.08796131157578!3d38.42189188804353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd8e2fece48eb%3A0xafa58b890c33632a!2zS29uYWsvxLB6bWly!5e0!3m2!1str!2str!4v1707729570664!5m2!1str!2str" height="450" style="border:0;width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


<div class="row mt-4 mb-4">
    <div class="col-3">

        <select class="form-select" aria-label="Tarih Seçin">
            <option selected="" value="0">Tarih Seçin</option>
            <option value="1">Bugün</option>
            <option value="2">Son 3 Gün</option>
            <option value="3">Bu Hafta</option>
            <option value="4">Bu Ay</option>
            <option value="5">Bu Yıl</option>

        </select>

    </div>
    <div class="col-3">

        <select class="form-select" aria-label="Grup Seçin">
            <option selected="" value="0">Grup Seçin</option>
            <option value="1">Grup 1</option>
            <option value="2">Grup 2</option>
            <option value="3">Grup 3</option>

        </select>

    </div>
    <div class="col-3">
        <a href="#" style="color:red;" class="mt-1">Canlı Takip</a>
    </div>
</div>

<div class="row">
    <div class="card-group col-12">
        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#A8D08D">Sevkiyat Planlanmış Araçlar</div>
            <div class="card-body cardP">
           <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">43</th>
                            <th rowspan="2" class="vertical-text">Özmal</th>
                            <th rowspan="2" class="vertical-text">Kiralama</th>
                            <th rowspan="2" class="vertical-text">Taşeron</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Kamyon</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>10</td>
                            <td>9</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#548135">Sevkiyata Başlamış Araçlar</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">43</th>
                            <th rowspan="2" class="vertical-text">Özmal</th>
                            <th rowspan="2" class="vertical-text">Kiralama</th>
                            <th rowspan="2" class="vertical-text">Taşeron</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Kamyon</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>10</td>
                            <td>9</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#385623">Teslimat Tamamlamış Araçlar</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">43</th>
                            <th rowspan="2" class="vertical-text">Özmal</th>
                            <th rowspan="2" class="vertical-text">Kiralama</th>
                            <th rowspan="2" class="vertical-text">Taşeron</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Kamyon</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>10</td>
                            <td>9</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#C00000">Gecikme Yaşayan Araçlar</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">43</th>
                            <th rowspan="2" class="vertical-text">Özmal</th>
                            <th rowspan="2" class="vertical-text">Kiralama</th>
                            <th rowspan="2" class="vertical-text">Taşeron</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Kamyon</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>10</td>
                            <td>9</td>
                            <td></td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="card-group col-6">
        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#7F7F7F">UEDTS ye Bildirim Bekleyen Sevkiyatlar</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th>Detay</th>
                        </tr>
                        <tr>
                            <th colspan="2">43</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#7F7F7F">UEDTS ye Bildirim Yapılmış Sevkiyatlar</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th>Detay</th>
                        </tr>
                        <tr>
                            <th colspan="2">43</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="card-group col-9">
        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#B4C6E7">Ürüne Göre Kazanç İzleme</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">₺17.700,00</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mazot</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Gaz</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Tiner</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#2F5496">Araç Tipine Göre Kazanç İzleme</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">₺17.700,00</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kamyon</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>₺5800,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card m-2">
            <div class="p-2 text-center" style="color:#fff;background:#2F5496">Özmal Durumuna Gçre</div>
            <div class="card-body cardP">
                <table class="table table-bordered text-center w-100">
                    <thead>
                        <tr>
                            <th colspan="2">₺17.700,00</th>
                        </tr>
                        <tr>
                            <th colspan="2">Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kamyon</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Çekici</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Dorse</td>
                            <td>₺5800,00</td>
                        </tr>
                        <tr>
                            <td>Tanker</td>
                            <td>₺5800,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="mt-4 pt-4">
                <a class="nav-link" asp-controller="Versiyon" asp-action="Index" data-bs-toggle="" aria-expanded="false" style="color:#000;">Versiyon: @ViewBag.Versiyon</a>
       
</div>