@model EntityLayer.Concrate.Kaza

@{
    ViewData["Title"] = "Kaza Ekle";
}
<div class="col-lg-30 col-xxl-12">

    <h2 class="mb-3 lh-sm">Kaza Ekle</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="border table-responsive scrollbar p-2">
        <form method="post">
            <table class="table table-borderless">
                <!-- Sahiplik -->
                <tr>
                    <td>Plaka</td>
                    <td>
                        <select class="form-control" asp-for="AracID" id="AracID">
                            <option value="0">Seçiniz</option>
                        </select>
                    </td>
                    <td>Kaza Tarihi</td>
                    <td><input type="date" class="form-control" asp-for="KazaTarihi" /></td>
                    <td>Kaza Türü</td>
                    <td>
                        <select class="form-control" asp-for="KazaTuruID" id="KazaTuruID">
                            <option value="0">Seçiniz</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td>Sürücü</td>
                    <td>
                        <select class="form-control" asp-for="SurucuID" id="SurucuID">
                            <option value="0">Seçiniz</option>

                        </select>
                    </td>
                    <td>Karşı Plaka</td>
                    <td>
                        <input type="text" class="form-control" asp-for="KarsiPlaka" />
                    </td>
                    <td>Karşı Araç Ruhsat Sahibi</td>
                    <td>
                        <input type="text" class="form-control" asp-for="KarsiAracRuhsatSahibi" />
                    </td>
                </tr>
                <tr>
                    <td>Karşı Sürücü T.C.</td>
                    <td><input type="text" class="form-control" asp-for="KarsiSurucuTC" /></td>
                    <td>Karşı Sürücü Adı Soyadi</td>
                    <td><input type="text" class="form-control" asp-for="KarsiAracSurucuAdiSoyadi" /></td>
                    <td>Karşı Sürücü Cep Telefonu</td>
                    <td><input type="text" class="form-control" asp-for="KarsiAracCepTelefonu" /></td>
                </tr>
                <tr>
                    <td>Sürücümüz Kusur Oranı</td>
                    <td><input type="text" class="form-control" asp-for="SurucumuzKusurOrani" /></td>
                    <td>Karşı Sürücü Kusur Oranı</td>
                    <td><input type="text" class="form-control" asp-for="KarsiSurucuKusurOrani" /></td>
                    <td>Kaza Rapor No</td>
                    <td><input type="text" class="form-control" asp-for="KazaRaporNo" /></td>
                </tr>
                <tr>
                    <td>Sigprta Acente Adı</td>
                    <td>
                        <input type="text" class="form-control" asp-for="SigortaAcenteAdi" />

                    </td>
                    <td>Sigorta Acente Yetkilisi</td>
                    <td>
                        <input type="text" class="form-control" asp-for="SigortaAcenteYetkilisi" />

                    </td>
                    <td>Sigorta Acente Telefonu</td>
                    <td><input type="text" class="form-control" asp-for="SigortaAcenteTelefonu" /></td>
                </tr>
                <tr>
                    <td>Hasar Faturası Firması</td>
                    <td>
                        <input type="text" class="form-control" asp-for="HasarFaturaFirmasi" />
                    </td>
                    <td>Hasar Fatura Tarihi</td>
                    <td><input type="date" class="form-control" asp-for="HasarFaturaTarihi" /></td>
                    <td>Geri Ödeme Tarihi</td>
                    <td><input type="date" class="form-control" asp-for="GeriOdemeTarihi" /></td>

                </tr>
                <tr>
                    <td>Hasar Tutarı</td>
                    <td><input type="number" class="form-control" asp-for="HasarTutari" /></td>
                    <td>Sigortanın Ödediği</td>
                    <td><input type="number" class="form-control" asp-for="SigortaninOdedigiTutar" /></td>
                    <td>Ödenemeyen Tutar</td>
                    <td><input type="text" class="form-control" asp-for="OdenemeyenTutar" /></td>
                </tr>
                <tr>
                    <td>Servis Firması Adı</td>
                    <td><input type="text" class="form-control" asp-for="ServisFirmaAdi" /></td>
                    <td>Servis Yetkilisi</td>
                    <td><input type="text" class="form-control" asp-for="ServisFirmaYetkilisi" /></td>
                    <td>Servis Telefonu</td>
                    <td><input type="text" class="form-control" asp-for="ServisFirmaTelefonu" /></td>
                </tr>
                <tr>
                    <td>Servis Firma Adresi</td>
                    <td colspan="5">
                        <textarea rows="2" asp-for="ServisFirmaAdres" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Not</td>
                    <td colspan="5">
                        <textarea rows="2" asp-for="Notlar" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">Belge Yükle</td>
                    <td colspan="2">Resim Yükle</td>
                </tr>
                <tr>
                    <td>Kaza Raporu</td>
                    <td>Arşivlendi</td>
                    <td colspan="2">Göster/İndir</td>
                    <td>Resim1</td>
                    <td colspan="2">Göster/İndir</td>
                </tr>
                <tr>
                    <td>Karşı Taraf Trafik Sigortası</td>
                    <td>Arşivlendi</td>
                    <td colspan="2">Göster/İndir</td>
                    <td>Resim1</td>
                    <td colspan="2">Göster/İndir</td>
                </tr>
                <tr>
                    <td>Karşı Taraf Kasko Poliçesi</td>
                    <td>Arşivlendi</td>
                    <td colspan="2">Göster/İndir</td>
                    <td>Resim1</td>
                    <td colspan="2">Göster/İndir</td>
                </tr>
                <tr>
                    <td>Karşı Taraf Ruhsat</td>
                    <td>Arşivlendi</td>
                    <td colspan="2">Göster/İndir</td>
                    <td>Resim1</td>
                    <td colspan="2">Göster/İndir</td>
                </tr>
                <tr>
                    <td>Karşı Taraf Ehliyet</td>
                    <td>Arşivlendi</td>
                    <td colspan="2">Göster/İndir</td>
                    <td>Resim1</td>
                    <td colspan="2">Göster/İndir</td>

                </tr>

            </table>
            <input type="submit" class="btn btn-success w-100" value="Kaza Kaydet" />
        </form>


    </div>

</div>
@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        //plaka listele
        $.ajax({
            url: '../Ajax/PlakaListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#AracID').empty();
                $('#AracID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#AracID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.plaka // Verinin görünen metni
                    }));
                });
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
        //sürücü listele
        $.ajax({
            url: '../Ajax/SurucuListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#SurucuID').empty();
                $('#SurucuID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#SurucuID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.isim+ ' '+item.soyisim // Verinin görünen metni
                    }));
                });
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });

        //kaza türü listele
        $.ajax({
            url: '../Ajax/KazaTuruListe', // Verileri sağlayan API'nin endpoint'i
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#KazaTuruID').empty();
                $('#KazaTuruID').append($('<option>', {
                    value: 0, // Verinin değer özelliği
                    text: "Seçiniz" // Verinin görünen metni
                }));
                // Verileri selectbox'a ekle
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#KazaTuruID').append($('<option>', {
                        value: item.id, // Verinin değer özelliği
                        text: item.adi // Verinin görünen metni
                    }));
                });
            },
            error: function (error) {
                console.log('Hata oluştu:', error);
            }
        });
    </script>
}