@{
    ViewData["Title"] = "Test Fatura Ekranı";
}

<form method="post" asp-action="CheckUser" asp-controller="EFaturaTest">
    <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">E Fatura Mükellef Kontrol</button>
</form>
