@using EntityLayer.Concrate;
@model List<OkulServisOgrenciCizelgeModel>

@{
    ViewData["Title"] = "Okul Servis Öğrenci Çizelgesi";
}
<div class="col-lg-30 col-xxl-12">
    <h2 class="mb-3 lh-sm">Okul Servis Öğrenci Çizelgesi</h2>
    @if (TempData["Msg"] != null)
    {
        <div class="d-flex">
            <div class="toast show align-items-center text-white dark__text-gray-1100 border-0 m-3" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" style="background:@TempData["Bgcolor"]">
                <div class="d-flex">
                    <div>
                        @TempData["Msg"]
                    </div>

                </div>
            </div>
        </div>

    }

    <div class="p-4 code-to-copy">
        <table class="col-lg-4">
            <tr>
                <td><b>Öğrenci Adı:</b></td>
                <td>@Model[0].Ogrenci.Cari_Unvan</td>
            </tr>
        </table>
        
    </div>
</div>